body{
    /* background-color: blanchedalmond; */
    background: url(./assets/fondoSimpsons3.avif);
    background-position: center;
    background-size: cover;
    height: 600px;
}

#pregunta {
    color: yellow;
    margin-top: 40px;
    font-size: 35px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    -webkit-text-stroke: 0.1px black;
}

#opciones {
    font-size: 25px;
    color: yellow;
    margin-top: 40px;
    cursor: pointer;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    font-weight: bold;
    -webkit-text-stroke: 0.1px black;
}

.resultado {
    margin-top: 20px;
}

.opcion{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    border: 1px solid lightblue;
    border-radius: 10px;
}

#resultado{
    font-size: 30px;
    color: brown;
    margin-left: 100px;
    
}

.Swal.fire{
    width: 10px;
    height: 10px;
}

.tituloPrincipal{
    font-size: 30px;
    color: yellow;
    margin-top: 50px;
    margin-bottom: 50px;
    cursor: pointer;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    font-weight: bold;
    -webkit-text-stroke: 0.1px black;
}

.menuPrincipal{
    text-align: center;
}

.divMenu, .divReglas{
    margin-bottom: 50px;
    font-size: 30px;
    color: yellow;
    margin-top: 40px;
    cursor: pointer;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    font-weight: bold;
    -webkit-text-stroke: 0.1px black;
    text-decoration: none;
}

.divs{
    margin-bottom: 20px;
}
.divs:hover{
    scale: 1.1;
}






